*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.Search--bar img{
    width: 30px;
    margin-top: 20px;
    margin-left: 10px;
}

.Search--bar .search--icon--bar{
    background-color:#1D2123;
    position: absolute;
    width: 1128px;
    height: 45px;
    left: 110px;
    top: 10px;

}

.Search--bar input{
width: 1100px;
height: 45px;
border: none;
outline: none;
background-color: #1D2123;

position: absolute;
    left: 32px;
    top: 0;
}